<h2>Products</h2>

<div *ngFor="let item of products">
  <h3>
    <a [title]="item.name + ' details' ">
      {{ item.name}}
    </a>
  </h3>
  <p *ngIf="item.description">
    <!--If i have description i'll see this component -->
    Description : {{ item.description }}
  </p>
  <button (click)="share()" >
    Share
  </button>
  <app-products-alerts [item]="item" (notify)="onNotify()">

  </app-products-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->